<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/print.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/NAC/components/NACDocumentDetails.js"></script>
    <script src="~/js/NAC/components/NACDocumentHeader.js"></script>
    <script src="~/js/NAC/components/NACDocumentBody.js"></script>
    <script src="~/js/NAC/components/NACDocumentFooter.js"></script>
</body>
</html>
